
PrimeraClase/PrimeraClase/x64/Debug/


# Prerequisites
*.d

# ignore jetbrains rider temporary files
.idea/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
# including libraries
#*.lib

# Executables
*.exe
*.out
*.app
